<div class="loginBG">
    <div class="text-center">
        <a href="http://fuelthecure.net" title="FUEL the CURE">
            <img src="assets/images/SRC_logo.png" alt="Sweatrate" class="loginImage">
        </a>
    </div>
    <div class="container">
        <div class="signup">
            <div class="login-screen">
                <div class="app-title">
                    <h2>Forgot Password</h2>
                </div>
                <div class="login-form">
                    <form  (ngSubmit)="forgetPassword(forgetpassword)" #forgetpassword="ngForm" class="m-login__form m-form">
                        <ng-template #alertSignin></ng-template>
                        <!-- <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group m-form__group">
                                                <input class="form-control m-input" type="password" placeholder="Enter Your Password" name="password" [(ngModel)]="model.password"
                                                    #password="ngModel" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group m-form__group">
                                                <input class="form-control m-input" type="password" placeholder="Confirm Password" name="confirmpassword" [(ngModel)]="model.confirmpassword"
                                                    #confirmpassword="ngModel" autocomplete="off">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="m-login__form-action">
                            <button [disabled]="loading" [ngClass]="{'m-loader m-loader--right m-loader--light': loading}" id="signup" class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--air pull-right">
                                Reset Password
                            </button>
                        </div> -->
                        <div class="form-group m-form__group">
                            <div class="row">
                                <div class="col-md-2">
                                    <label class="pad10" for="exampleInputEmail1">Email</label>
                                </div>
                                <div class="col-md-10">
                                       
                                    <input email   #email="ngModel" required pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"  type="email" name="email"  class="form-control m-input" id="email" [(ngModel)]="model.email" placeholder="Enter email">
                                    <div class="md-errors-spacer" [hidden]="email.valid || email.untouched">
                                            <div  *ngIf="email.errors && email.errors.required">
                                                <span style="color:red" >Email is required</span>
                                            </div>
                                            <div  *ngIf="email.errors && email.errors.pattern">
                                                    <span style="color:red" > Email is invalid</span>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="actions">
                            <button [disabled]="loading" [ngClass]="{'m-loader m-loader--right m-loader--light': loading}"  >Reset Password
                                <i class="fa fa-rocket"></i>
                            </button>
                        </div> -->
                        <div class="form-group m-form__group">
                        <div class="m-login__form-action">
                            <button id="signup" class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--air pull-right">
                                Reset Password
                            </button>
                        </div> 
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>
