#head {
    background-color: #e85e0f;
    padding: 11px 0px 11px 0px;
}
.header-link li a {
    color: blacl;
    font-size: 14px;
    float: left;
    padding: 0 10px;
}
.header-link li a:hover {
    color: black;
    text-decoration: blink;
    cursor: pointer;

  }
.dropdown-menu > li > a:hover{
    padding-right: 52px;

  }
.active{
    color: #fff;
}

.dropdown-menu{
    margin-top: 10px;
}


.dropdown-menu > li > a{
    display: block;
    padding: 0.7rem 1.2rem;
}
